body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}

a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.navHeader {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.navItem {
    margin-right: 10px;
    padding: 4px;
}

.mt-9{
    margin-top: 9px;
}

.mt-5{
    margin-top: 5px;
}

.ml-5{
    margin-left: 5px;
}

.mb-20{
    margin-bottom: 20px;
}

.profilePic{
    border-radius: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

.centerAlign {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.searchIcon{
    color: #9aa0a6;
    height: 47px;
    width: 22px;
    margin-left: 10px;
    margin-right: 10px;
}

.searchBar {
    justify-content: flex-start;
    background-color: #fff;
    width: 30%;
    height: 45px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    margin-left: 35%;
    font-size: 16px;
}

.searchBar:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

input{
    border: 0;
    width: 90%;
}

input:focus{
    outline: none;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navFooter {
    display: flex;
    flex-direction: row;
}

.footerItem {
    margin: 0px;
    padding: 5px;
}