body {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #222;
}

a {
    text-decoration: none;
}

.navHeader {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.navItem {
    margin: 0px;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 18%;
}

.centerAlign {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.searchBar {
    background-color: #fff;
    width: 45%;
    height: 45px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navFooter {
    display: flex;
    flex-direction: row;
}

.footerItem {
    margin: 0px;
    padding: 5px;
}